node_modules
npm-debug.log
yarn-error.log
.pnpm-store/

dist
build
coverage

.env
.env.*.local
*.env

logs
*.log

.DS_Store
Thumbs.db

.git
.gitignore

Dockerfile*
docker-compose*.yml

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.tgz
